body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;  

  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.header {
  /*border: 1rem solid red;*/
  margin: 0;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 100px;  

  background-color: #1f2937;  
}

.footer {  
  margin: 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  
  background-color: #1f2937;
  color: #F9FAF8;
}

.left-links {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  color: #F9FAF8;

  margin-left: 75px;
}

.right-links {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  font-size: 18px;
  color: #E5E7EB;

  margin-right: 50px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*gap: 16px;*/
}


li {
  list-style: none;  
}

a {
  text-decoration: none;
  color: white;
}

.card1 {
  /*border: 1px solid red;*/
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);  
  background-color: #1f2937;
  color: #F9FAF8;

  flex-grow: 1;
  flex-basis: auto;

  display: flex;  
  justify-content: space-around;
  align-items: center;

  padding: 16px;
  width: 100%;
  height: 400px;
}

.card2 {
  /*border: 1px solid red;*/
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);  
  background-color: white;
  text-align: center;

  flex-grow: 1;
  flex-basis: auto;

  padding: 56px;
  width: 100%;
  height: 400px;
}

.card3 {
  /*border: 1px solid red;*/
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);  
  background-color: #E5E7EB;

  flex-grow: 1;
  flex-basis: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
  
  width: 100%;
  height: 400px;
}

.card4 {
  /*border: 1px solid red;`*/
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);  
  
  flex-grow: 1;
  flex-basis: auto;

  padding: 16px;
  width: 100%;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: #3882F6;
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;

  width: 60%;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

button {
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  background-color: transparent;
  color: white;  
  border: 2px solid white;
  font-weight: bold;
}

.title {
  margin-bottom: 32px;
  margin-top: 32px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.info {
  max-width: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

img {
  width: 180px;
  height: 180px;

  border: 3px solid lightblue;
  border-radius: 10px;
}

blockquote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

cite {
  font-weight: bolder;
}

figcaption {
  display: flex;
  justify-content: flex-end;
}

.card1 img {
  width: 500px;
  height: 250px;

  border: 3px solid lightblue;
  border-radius: 10px;
}

.card1 p {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;  
}

.card1 div {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: self-start;
}

.card1 button {
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background-color: #3882F6;
  color: white;
  border: 0px;
  font-weight: bold;

  margin-top: 20px;
}

.card1 p {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 0px;
}