body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  /*border: 1rem solid red;*/
  margin: 0;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 100px;
  

  background-color: gray;
  color: white;
}

.footer {  
  margin: 0;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  
  background-color: gray;  
}

.right-links {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;  
}